<div class="meta-body">
  <div class="meta-body-item">
    <span class="light">Date de sortie</span>
    <span class="AC...w== date blue-link">10 janvier 2018</span>
    (1h 45min)
  </div>
  <div class="meta-body-item">
    <span class="light">De</span>
    <span itemprop="director" itemscope itemtype="http://schema.org/Person">
      <a
         class="blue-link"
         href="/personne/fichepersonne_gen_cpersonne=20815.html"
         title="Philippe Le Guay"
         itemprop="url"
         ><span itemprop="name">Philippe Le Guay</span>
      </a>
    </span>
  </div>
  <div class="meta-body-item">
    <span class="light">Avec</span>
    <span class="AC... blue-link">François Cluzet</span>,
    <span class="AC... blue-link">Toby Jones</span>,
    <span class="AC... blue-link">François-Xavier Demaison</span>
    <span class="AC... more blue-link"> plus </span>
  </div>
  <div class="meta-body-item">
    <span class="light">Genres</span>
    <span class="AC.. blue-link"><span itemprop="genre">Drame</span></span>,
    <span class="AC.. blue-link"><span itemprop="genre">Comédie</span></span>
  </div>
  <div class="meta-body-item">
    <span class="light">Nationalité</span>
    <span class="AC... blue-link nationality"> français</span>
  </div>
</div>
