<section class="titlereference-section-overview">
  <div>
    An aspiring photographer develops an intimate relationship
    with an older woman in 1950s New York.
  </div>
  <hr>
  <div class="titlereference-overview-section">
    Director:
    <ul class="ipl-inline-list">
      <li class="ipl-inline-list__item">
        <a href="/name/nm0001331">Todd Haynes</a>
      </li>
    </ul>
  </div>
  <div class="titlereference-overview-section">
    Writers:
    <ul class="ipl-inline-list">
      <li class="ipl-inline-list__item">
        <a href="/name/nm0619507">Phyllis Nagy</a>,
        <a href="/name/nm0383604">Patricia Highsmith</a>
      </li>
    </ul>
  </div>
  <div class="titlereference-overview-section">
    Stars:
    <ul class="ipl-inline-list">
      <li class="ipl-inline-list__item">
        <a href="/name/nm0000949">Cate Blanchett</a>,
        <a href="/name/nm1913734">Rooney Mara</a>,
        <a href="/name/nm0151419">Kyle Chandler</a>
      </li>
      <li class="ipl-inline-list__item">
        <a href="/title/tt2402927/fullcredits" class=>See more &raquo;</a>
      </li>
    </ul>
  </div>
  <div class="titlereference-overview-section">
    Awards:
    <ul class="ipl-inline-list">
      <li class="ipl-inline-list__item">
        Nominated for 6 Oscars. Another 74 wins & 238 nominations.
      </li>
      <li class="ipl-inline-list__item">
        <a href="/title/tt2402927/awards" class=>See more &raquo;</a>
      </li>
    </ul>
  </div>
  <div>
    Reviews:
    <ul class="ipl-inline-list titlereference-overview-review-list">
      <li class="ipl-inline-list__item">
        <a href="/title/tt2402927/reviews">279 User</a>
      </li>
      <li class="ipl-inline-list__item">
        <a href="/title/tt2402927/externalreviews">431 Critic</a>
      </li>
    </ul>
  </div>
</section>
