\documentclass[10pt, a4paper]{article}
\usepackage{MinionPro}
\usepackage[T1]{fontenc}
\usepackage[latin1]{inputenc}
\usepackage[francais]{babel}
\renewcommand\footnotemark{}
\begin{document}
\nocite{*}
\bibliographystyle{amsplain}
\bibliography{bib/cdc<%= @year %>}
\end{document}
