<!--
    the ratings bar on the mobile site
  -->

<div id="ratings-bar">
  <div class="inline-block text-center">
    <span class="mobile-sprite yellow-star">
    </span>
    <span class="inline-block text-left vertically-middle">
      7.2
      <small class="text-muted">
        /10
        <br />
        78,879
      </small>
    </span>
  </div>
  <div class="inline-block text-center">
    <a href="https://secure.imdb.com/oauth/m_login?origpath=/title/tt2402927/&ref_=m_tt_ov_rt_lgin">
      <span class="mobile-sprite empty-star">
      </span>
      Rate
    </a>
  </div>
  <div class="inline-block text-center">
    <a href="criticreviews?ref_=m_tt_ov_rt"
       title="Review excerpts provided by Metacritic.com">
      <span class="metascore favorable">
        95
      </span>
      Metascore
    </a>
  </div>
</div>
